/* --------------------------------------------------------
author: Ruminder Singh
email: ruminder.singh@dal.ca
----------------------------------------------------------*/

body {
  height: 100%;
}

.applyPage {
  width: 100%;
  height: 100%;
  background-color: rgb(139, 187, 178);
  display: flex;
  justify-content: center;
  flex-direction: column;

  .title {
    margin-top: 2%;
    height: 6%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .applicationSubmitted {
    margin-top: 15%;
    margin-bottom: 36%;
    text-align: center;
  }
  .jobApplyBody {
    background-color: rgb(139, 187, 178);

    height: 100%;
    min-height: 650px;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    .layer {
      width: 50%;
      display: flex;

      left: 0;
      right: 0;
      margin: auto;

      background-color: teal;
      padding: 10px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      background-color: white;
      padding-left: 2%;
      padding-right: 2%;

      .applyForm {
        display: flex;
        flex-direction: column;
        label {
          margin-left: 2%;
        }

        .personInfo {
          display: flex;
          justify-content: space-between;
        }
        .required {
          color: red;
        }
        .applyBtn {
          display: flex;
          justify-content: center;
          margin: auto;
          width: 50%;
        }
      }
    }
  }
}
