/* --------------------------------------------------------
author: Ruminder Singh
email: ruminder.singh@dal.ca
----------------------------------------------------------*/
.openings {
  margin-left: 5%;
  margin-top: 1%;
  width: 50%;

  .card {
    margin: 5px;
    .card-header {
      h6 {
        display: flex;
        justify-content: space-between;

        i {
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .card-body {
    }
  }
}
