/**
 * @author Parsad Upendra(upendra@dal.ca)
 * BANNER ID: B00838095
*/

.fa-icon {
  margin-right: 8px;
}
@media screen and (min-width: 760px) {
  .home-comp-container {
    height: 400px;
    width: 80%;
    margin: 100px auto;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .search-bar {
      text-align: center;
      margin-top: 10%;
      margin-bottom: 5%;
      input[type="text"] {
        width: 40%;
        padding: 10px;
        font-size: 25px;
      }
    }
  }
  .search-results-section {
    .search-r-txt-header {
      display: block;
      font-size: 25px;
      font-weight: 700;
      text-align: center;
    }
    .grid-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      margin: 0px 5%;
    }
  }
}
@media screen and (min-width: 0px) and (max-width: 414px) {
  .home-comp-container {
    height: 400px;
    margin: 130px auto;
    .search-bar {
      text-align: center;
      margin-top: 10%;
      margin-bottom: 5%;
      input[type="text"] {
        padding: 8px;
        font-size: 25px;
      }
    }
  }
  .search-results-section {
    .search-r-txt-header {
      display: block;
      font-size: 25px;
      font-weight: 700;
      text-align: center;
    }
    .grid-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      margin: 0px 5%;
    }
  }
}
