@media screen and (min-width: 760px) {
  .delete-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: -16px;
    top: -10px;
    background: red;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .delete-icon .fa {
    font-size: 22px;
    color: white;
  }
  .search-r-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5%;
  }
  .search-r-container .search-results-section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .search-r-container .search-results-section .search-r-txt-header {
    display: block;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
  }
  .search-r-container .grid-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0px 5%;
  }
  .search-r-container .grid-item {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
    height: 290px;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    -ms-flex: auto;
    width: 259px;
    position: relative;
    margin: 2%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .search-r-container .grid-item:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .search-r-container .grid-item .img-blck img {
    border-radius: 5px 5px 0 0;
    vertical-align: middle;
    border-style: none;
    height: 150px;
    width: 100%;
  }
  .search-r-container .grid-item .cntnt-blck {
    padding: 10px;
  }
  .search-r-container .grid-item .cntnt-blck .place-name {
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .search-r-container .grid-item .cntnt-blck .place-desc {
    font-size: 11px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
  }
  .search-r-container .grid-item .cntnt-blck .place-province {
    display: block;
    font-weight: 500;
    font-size: 11px;
    margin-bottom: 5px;
  }
  .search-r-container .grid-item .cntnt-blck .place-book {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search-r-container .grid-item .cntnt-blck .place-book button {
    outline: none;
    border: none;
    background: #4caf50;
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    padding: 4px 20px;
    color: white;
  }
  .search-r-container .grid-item .cntnt-blck .place-book button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 0px) and (max-width: 414px) {
  .search-r-container {
    display: block;
    margin: 5%;
  }
  .search-r-container .search-results-section .search-r-txt-header {
    display: block;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
  }
  .search-r-container .grid-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0px;
    margin-bottom: 100px;
  }
  .search-r-container .grid-item {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
    height: 295px;
    -ms-flex: auto;
    width: 48%;
    position: relative;
    margin: 3% 1%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .search-r-container .grid-item:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .search-r-container .grid-item .img-blck img {
    border-radius: 5px 5px 0 0;
    vertical-align: middle;
    border-style: none;
    height: 150px;
    width: 100%;
  }
  .search-r-container .grid-item .cntnt-blck {
    padding: 10px;
  }
  .search-r-container .grid-item .cntnt-blck .place-name {
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .search-r-container .grid-item .cntnt-blck .place-desc {
    font-size: 11px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .search-r-container .grid-item .cntnt-blck .place-province {
    display: block;
    font-weight: 500;
    font-size: 11px;
  }
  .search-r-container .grid-item .cntnt-blck .place-book {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search-r-container .grid-item .cntnt-blck .place-book button {
    outline: none;
    border: none;
    background: #4caf50;
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    padding: 4px 20px;
    color: white;
  }
  .search-r-container .grid-item .cntnt-blck .place-book button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}
/*# sourceMappingURL=SearchResults.css.map */