.section-apartments {
  margin: 150px 277px;
  text-align: center;
}
.apartments-containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view-more {
  margin-top: 120px;
  padding: 18px 40px;
  background: transparent;
  outline: none;
  color: rgb(139, 187, 178);
  border: 2px solid rgb(139, 187, 178);
  font-weight: bold;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .section-apartments h1 {
    margin-left: -150px;
  }
  .apartments-containers {
    margin-left: -80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .view-more {
    margin-left: -100px;
    margin-top: 120px;
    padding: 18px 40px;
    background: transparent;
    outline: none;
    color: rgb(139, 187, 178);
    border: 2px solid rgb(139, 187, 178);
    font-weight: bold;
    cursor: pointer;
  }
}

/* feature apartment showcase */
.card-container {
  margin-top: 150px;
  overflow: hidden;
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  width: auto;
  max-width: 300px;
  text-align: left;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.089);
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}
.card-container:hover {
  transform: scale(1.05);
}
.card-img {
  width: 300px;
}
.text-container {
  padding: 20px;
}
.text-title {
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 24px;
}
.text-subtitle {
  color: grey;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 12px;
}
.text-tiny {
  color: grey;
  font-size: 12px;
}
.text-desc {
  margin-bottom: 20px;
}
.text-review {
  color: green;
  font-weight: 500;
}
