/**
 * @author Parsad Upendra(upendra@dal.ca)
 * BANNER ID: B00838095
*/

@media screen and (min-width: 760px) {
  .grid-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    height: 290px;
    flex-basis: 20%;
    -ms-flex: auto;
    width: 259px;
    position: relative;
    margin: 2%;
    box-sizing: border-box;
    &:hover {
      cursor: pointer;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .img-blck {
      img {
        border-radius: 5px 5px 0 0;
        vertical-align: middle;
        border-style: none;
        height: 150px;
        width: 100%;
      }
    }
    .cntnt-blck {
      padding: 10px;
      .place-name {
        font-weight: 700;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .place-desc {
        font-size: 11px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 5px;
      }
      .place-province {
        display: block;
        font-weight: 500;
        font-size: 11px;
        margin-bottom: 5px;
      }
      .place-book {
        justify-content: center;
        display: flex;
        button {
          outline: none;
          border: none;
          background: #4caf50;
          border-radius: 2px;
          text-align: center;
          font-size: 12px;
          padding: 4px 20px;
          color: white;
          &:hover {
            cursor: pointer;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          }
        }
        .delete {
          background: rgb(255, 58, 58) !important;
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 414px) {
  .grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0px;
    margin-bottom: 100px;
  }

  .grid-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    height: 295px;
    -ms-flex: auto;
    width: 48%;
    position: relative;
    margin: 3% 1%;
    box-sizing: border-box;
    &:hover {
      cursor: pointer;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .img-blck {
      img {
        border-radius: 5px 5px 0 0;
        vertical-align: middle;
        border-style: none;
        height: 150px;
        width: 100%;
      }
    }
    .cntnt-blck {
      padding: 10px;
      .place-name {
        font-weight: 700;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .place-desc {
        font-size: 11px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .place-province {
        display: block;
        font-weight: 500;
        font-size: 11px;
      }
      .place-book {
        justify-content: center;
        display: flex;
        button {
          outline: none;
          border: none;
          background: #4caf50;
          border-radius: 2px;
          text-align: center;
          font-size: 12px;
          padding: 4px 20px;
          color: white;
          &:hover {
            cursor: pointer;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          }
        }
        .delete {
          background: rgb(255, 58, 58) !important;
        }
      }
    }
  }
}
