/* single room*/
.single-room {
  margin-top: 160px;
}

.book-container {
  display: flex;
}

.book-card {
  margin-left: 100px;
  height: 450px;
  width: 350px;
  border: 1px solid #dfe1e5;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.09);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #f3f3f3;
}

.fav-card {
  margin-left: 100px;
  height: 150px;
  width: 350px;
  border: 1px solid #dfe1e5;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.09);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #f3f3f3;
  outline: none;
}

.ad-img {
  height: 200px;
  width: 280px;
  margin-bottom: 80px;
}

.book-btn {
  height: 40px;
  margin-bottom: 50px;
}

.fav-btn {
  margin-left: 200px;
  height: 40px;
  width: auto;
  margin-bottom: 50px;
}

.room-images-banner {
  width: 50%;
  margin-left: 190px;
  margin-bottom: 70px;
}

.single-room-images {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
}

.single-room-images img {
  width: 80%;
  display: inline-block;
}

.single-room-info {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 300px;
  margin: 50px auto;
}

.desc h3 {
  font-size: 30px;
  text-transform: capitalize;
}

.desc p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 30px;
}

.info h3 {
  font-size: 30px;
  text-transform: capitalize;
}

.info p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 8px;
}

.room-extras {
  width: 80%;
  margin: 100px auto;
}

.room-extras h6 {
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.extras {
  font-size: 20px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}

.rating-three {
  -webkit-box-pack: justify !important;
  -webkit-box-align: center !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;
}

.rating-four {
  width: 100% !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

.rating-five {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  margin-left: 12px !important;
  width: 75% !important;
}

.rating-six {
  position: relative !important;
  height: 4px !important;
  width: 100% !important;
  margin-right: 4px !important;
  background: rgb(221, 221, 221) !important;
  border-radius: 2px !important;
}

.rating-four {
  width: 100% !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

.rating-seven {
  color: rgb(34, 34, 34) !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  margin-left: 6px !important;
}

._1wsvxly {
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  bottom: 0px !important;
  border-radius: 2px !important;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex: 0 1 auto;
}

.rating-two {
  margin-bottom: 16px !important;
}

._2hs30c {
  color: #222222 !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  --gp-section-compact-padding: 32px !important;
  --gp-section-compact-padding-condensed: 16px !important;
  --gp-section-standard-padding: 48px !important;
  --gp-section-standard-padding-condensed: 24px !important;
}

@media (min-width: 1440px) {
  .rating-one {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

@media (min-width: 1128px) {
  .rating-one {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

@media (min-width: 950px) {
  .rating-one {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

@media (min-width: 744px) {
  .rating-one {
    width: 41.6667% !important;
    margin-right: 8.33333% !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

@media (min-width: 375px) {
  .rating-one {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }

  .rating-one {
    position: relative !important;
    width: 100% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
  }

  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex: 0 1 auto;
  }
}
