.section-testimonials {
  background-image: linear-gradient(
      rgba(139, 187, 178, 0.7),
      rgba(139, 187, 178, 0.7)
    ),
    url("../../images/launch.png");
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  padding-top: 10px;
  padding-bottom: 100px;
}
.testimonials {
  font-size: 22px;
  margin: 0 277px;
  padding: 100px 0 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

blockquote:before {
  content: "\201C";
  font-size: 400%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

@media screen and (max-width: 500px) {
  .testimonials {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 50px;
  }
}
