@media screen and (min-width: 760px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f3f3f3;
    padding: 0 10px 0 30px !important;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    .navbar-collapse {
      justify-content: center;
    }
    ul {
      align-items: center;
      list-style: none;
      margin-bottom: 0;
      li {
        display: inline-block;
        padding: 0 20px;
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 414px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f3f3f3;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 1% 2% !important;
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }
  }
  .navbar-expand-md {
    width: 100% !important;
  }
}
