.outer-container {
  margin: 150px 277px;
  text-align: center;
}
.heading-page {
  color: rgba(0, 136, 169, 1);
  font-weight: bold;
  margin-top: 45px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 23px;
}
.fav-containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .outer-container h1 {
    margin-left: -150px;
  }
  .fav-containers {
    margin-left: -80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.card-container-fav {
  margin-top: 50px;
  margin: 30px;
  overflow: hidden;
  display: inline-block;
  background-color: white;
  width: auto;
  max-width: 300px;
  text-align: left;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.089);
  transition: transform 200ms ease-in-out;
  cursor: pointer;
  padding: 10 10px;
}
.card-container-fav:hover {
  transform: scale(1.05);
}
.card-img {
  width: 300px;
}
.text-container {
  padding: 20px;
}
.text-title {
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 24px;
}
.text-subtitle {
  color: grey;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 12px;
}
.text-tiny {
  color: grey;
  font-size: 12px;
}
.text-desc {
  margin-bottom: 20px;
}
.text-review {
  color: green;
  font-weight: 500;
}
