.links {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.links-inner {
  margin: 0 277px;
  padding: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links li {
  line-height: 2.8;
  list-style: none;
}
.footer-link {
  text-decoration: none;
  font-size: 14px;
}

.footer {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 80px;
}
.footer-inner {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .links-inner {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
  }
  .footer-inner {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .footer ul {
    display: block !important;
      margin-bottom: 0px;
      flex-wrap: wrap;
      align-items: center !important;
  }
}
.footer div {
  margin-bottom: 20px;
  display: flex;
  align-items: center !important;
}

.footer div i {
  margin-right: 10px;
}

.footer ul {
  display: flex;
    margin-bottom: 0px;
    flex-wrap: wrap;
    align-items: center !important;
}

.footer li {
  margin-right: 30px;
  margin-bottom: 20px;
  list-style: none;
}
