.features {
  background-color: rgb(139, 187, 178);
  padding-bottom: 100px;
}
.section-features {
  display: flex;
  margin: 80px 277px;
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  padding: 40px;
  margin: 0 20px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 24px 24px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}
.feature-box:hover {
  transform: translateY(-24px) scale(1.03);
}
.feature-heading {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.feature-box-text {
  padding-top: 20px;
}
.service-provide {
  padding-top: 140px;
}

@media screen and (max-width: 500px) {
  .section-features {
    display: flex;
    flex-flow: row wrap;
    margin: 0px;
  }
  .service-provide {
    padding-top: 50px;
  }
  .feature-box {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 24px 24px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
  }
}
