html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.loaderview {
  background: white;
  /* opacity: 01; */
  background-repeat: no-repeat;
  z-index: 9999999999999;
  background-image: url(../src/images/loader.gif);
  background-attachment: fixed;
  background-position: center;
  /* z-index: -1; */
  position: absolute;
  height: 100vh;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sign-main-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.sign-side {
  height: 100vh;
  background-color: rgb(139, 187, 178);
}
.sign-content {
  height: 100%;
  background-color: white;
}
.sign-container {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-nav {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  padding: 30px 30px 0;
}
.sign-nav a {
  text-decoration: none;
}

.divider {
  overflow: visible;
  margin: 5px 0 10px;
  text-align: center;
  border: none;
  border-top: 1px solid #e0e0e0;
  color: #6e6d7a;
}
.divider::after {
  content: "Or";
  display: inline-block;
  position: relative;
  top: -7px;
  padding: 0 16px;
  background: #fff;
  font-size: 1rem;
}
.sign-form {
  width: 400px;
  margin: 0 30px;
}
label {
  font-weight: 600;
  font-size: 1rem;
  display: block;
  margin: 30px 0 4px;
  color: #0d0c22;
}
.input-field {
  width: 80%;
  margin-right: 8px;
  border: 1px solid transparent;
  height: 40px;
  padding: 10px 16px;
  outline: none;
  border-radius: 8px;
  color: #0d0c22;
  background-color: #f3f3f4;
  cursor: text;
  font-weight: 400;
  line-height: 24px;
}
.input-field:hover {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 4px rgba(47, 200, 167, 0.1);
}
.button {
  display: block;
  width: 100%;
  margin-top: 40px;
  max-width: 200px;
  color: #fff;
  padding: 10px 16px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background: rgb(139, 187, 178);
  transition: transform 200ms ease-in-out;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  height: 40px;
  text-align: center;
}
.button:active {
  transform: scale(0.9);
}
.social-container {
  text-align: center;
  margin: 30px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  text-decoration: none;
}
.facebook {
  color: #3b5998;
}
.google {
  color: #4285f4;
}
.linkedin {
  color: #00a0dc;
}
.input-field::placeholder {
  font-size: small;
  font-weight: 500;
}
.term {
  overflow: hidden;
  margin-top: 30px;
}
.checkbox {
  margin-top: 10px;
  padding: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #dbdbde;
  outline: none;
  float: left;
}
.agree {
  margin-top: 20px;
  text-decoration: none;
}

.nav-logo {
  cursor: pointer;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: rgb(139, 187, 178);
}

button {
  color: black;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 25px;
  background-color: rgb(139, 187, 178);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin: 10px 0 10px 10px;
}

.sign-up {
  margin-right: 15px;
  margin-left: 5px;
}

button:hover {
  background-color: rgba(139, 187, 178, 0.8);
  color: white;
}

.error-message {
  color: red;
  font-size: 12px;
}
.success-message {
  color: green;
  font-size: 12px;
}
.error {
  border: 1px solid red;
}

p {
  font-size: 15px;
  line-height: 18px;
  color: #777;
}
.timeline {
  color: rgba(0, 136, 169, 1);
  font-weight: bold;
  margin-top: 160px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

@media screen and (max-width: 500px) {
  .timeline {
    margin-top: 100px;
  }
}
