.ratingPage {
	background-color: rgb(139, 187, 178);
	height: 100%;
	width: 100%;
	z-index: 999;
	min-height: 120vh;
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;

	.inner {
		max-width: 758px;
		margin: auto;
		background: #dbddf1;
		border: 10px solid #677a83;
		padding: 40px 99px 40px;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
		-ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
		-o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	}
}
